*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins' , sans-serif;
}

.card-container{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
	gap: 10px;
	background-color: steelblue;
	
	

}
.card{
	width: 90%;
	
	color: #082d67;
	text-align: center;
	
	border: 1px solid firebrick;
	background: grey;
	border-radius: 50px;
		backdrop-filter: blur(5px);
	}
img{
	width: 150px;
	height: 150px;
	 border-radius: 50px;
 }